<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>751941760525-c36e2n06atejirfn2l1vg4rmino205o8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.751941760525-c36e2n06atejirfn2l1vg4rmino205o8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>751941760525-bevg596i7s9t12ol49fkr4pfavl1jj91.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAdM7gGQNeJN4LkzXaoHa9LlQhXuKPaFHk</string>
	<key>GCM_SENDER_ID</key>
	<string>751941760525</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.biton.messaging</string>
	<key>PROJECT_ID</key>
	<string>biton-messanger</string>
	<key>STORAGE_BUCKET</key>
	<string>biton-messanger.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:751941760525:ios:0a7f1add50fb65ae0d0744</string>
</dict>
</plist>